{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

   <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
            <title>Alyaqeen | Dashboard</title>
            <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

            <!-- ✅ Tailwind CSS -->
            <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body class="bg-gray-100 text-gray-900">

      <div class="main-wrapper">
         <div class="header">
            <div class="header-left flex items-center gap-4">
               <a href="index.html" class="logo">
                  <img src="{% static 'assets/images/logo1.jpg' %}" alt="Logo">
               </a>
               
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
            </a>
            <div class="top-nav-search">
               <form>
                  <input type="text" class="form-control" placeholder="Search here">
                  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
               <li class="nav-item dropdown noti-dropdown">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                   {% if unread_notification_count > 0 %}
                  <i class="far fa-bell"></i> <span class="badge badge-pill">{{unread_notification_count}}</span>
                  {% endif %}
                  </a>
                  <div class="dropdown-menu notifications">
                     <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                     </div>
                     <div class="noti-content">
                        <ul class="notification-list">
                           {% for notification in unread_notification %}
                           <li class="notification-message">
                              <a href="#">
                                 <div class="media">
                                    <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
                                    </span>
                                    <div class="media-body">
                                       <p class="noti-details"><span class="noti-title">{{ notification.user.username }}</span> {{ notification.message }} <span class="noti-title">your estimate</span></p>
                                       <p class="noti-time"><span class="notification-time">{{ notification.created_at|timesince }} ago</span></p>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           {% endfor %}

                        </ul>
                     </div>
                     <div class="topnav-dropdown-footer">
                        <a href="#">View all Notifications</a>
                     </div>
                  </div>
                  
               </li>
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                     <span class="user-img">
                       {{user.email}}
                     </span>
                  </a>

                  <div class="dropdown-menu">
                     <div class="user-header">
                        
                        <div class="user-text">
                           <h6>{{user.first_name}}</h6>
                           <p class="text-muted mb-0">Administrator</p>
                        </div>
                     </div>
                     <a class="dropdown-item" href="profile.html">My Profile</a>
                     <a class="dropdown-item" href="inbox.html">Inbox</a>
                     <a class="dropdown-item" href="{% url 'logout-user' %}">Logout</a>
                  </div>
               </li>
            </ul>
         </div>
         {% comment %} sidebar {% endcomment %}
         <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>

                  <!-- ADMIN PANEL -->
                  <li class="menu-title"><span>Management Team</span></li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-user-cog"></i> <span class=" font-bold"> Administrative Staff</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="#"><i class="fas fa-users-cog"></i> Admins</a></li>
                        <li><a href="#"><i class="fas fa-user-shield"></i> Secretary</a></li>
                        <li><a href="#"><i class="fas fa-user-shield"></i> Principal  </a></li>
                        
                     </ul>
                  </li>

                 
                  <!-- ACADEMICS -->
                  <li class="menu-title"><span >Academics</span></li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span class=" font-bold">Academic Setup</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'academic-session' %}"> <i class="fas fa-school"></i> Academic Session</a></li>
                        <li><a href="{% url 'add-subject' %}"><i class="fas fa-book"></i> Subjects</a></li>
                     </ul>
                  </li>

                  

                  <!-- TEACHERS -->
                  <li class="menu-title"><span>Academic Staff</span></li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span class=" font-bold">Teacher Sections</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'teacher-list' %}"><i class="fas fa-chalkboard-teacher"></i> Teachers</a></li>
                        <li><a href="{% url 'add-teacher' %}"><i class="fas fa-plus"></i> Teachers</a></li>
                        
                     </ul>
                  </li>

                  <!-- STUDENTS -->
                  <li class="menu-title"><span>Students</span></li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span class=" font-bold">Student Sections</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'add-student' %}"><i class="fas fa-plus"></i> Student</a></li>
                        <li><a href="{% url 'student-list' %}"><i class="fas fa-user-graduate"></i> Students</a></li>
                        
                        <li><a href="{% url 'senior-class' %}"><i class="fas fa-school"></i> Senior Section</a></li>
                        
                     </ul>
                  </li>

                    <!-- STAFF -->
                  <li class="menu-title"><span>None Academic Staff</span></li>

                  <li class="submenu">
                     <a href="#"><i class="fas fa-users-cog"></i> <span class=" font-bold">Staff Roles</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="#"><i class="fas fa-users-cog"></i> Cashiers</a></li>
                        <li><a href="#"><i class="fas fa-book"></i> Exam Officers</a></li>
                        
                     </ul>
                  </li>

                  <!-- SETTING -->
                   <li class="submenu">
                     <a href="#"><i class="fas fa-cogs"></i> <span class=" font-bold">Settings</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url 'academic-session' %}">Academic Session</a></li>
                        <li><a href="#">Subjects</a></li>
                     </ul>
                  </li>


               
                  </ul>
               </div>
            </div>
            </div>



         {% block body %}
            
         {% endblock %}

      </div>

 

    
     
      
      
  </body>
  </html>
  